<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<div style="--weight: {{ weight }}; --color: {{ color }}; --size: {{ fontSize }}" [ngSwitch]="type">
  <h1 class="text" *ngSwitchCase="'h1'">
    <div *ngTemplateOutlet="content"></div>
  </h1>
  <h2 class="text" *ngSwitchCase="'h2'">
    <div *ngTemplateOutlet="content"></div>
  </h2>
  <h3 class="text" *ngSwitchCase="'h3'">
    <div *ngTemplateOutlet="content"></div>
  </h3>
  <span class="text" *ngSwitchCase="'span'">
    <div *ngTemplateOutlet="content"></div>
  </span>
</div>