@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--weight);
  font-size: var(--size);
  color: var(--color);
  margin: 8px;
}