<appbar>
  <icon navicon [name]="'menu'"></icon>
  <text title [color]="'black'" [weight]="400" [type]="'h1'" [fontSize]="'24px'">{{ title }}</text>
  <actions actions>
    <icon [name]="'share'"></icon>
    <div style="width: 24px;"></div>
    <icon [name]="'search'"></icon>
    <div style="width: 24px;"></div>
    <icon [name]="'more_vert'"></icon>
  </actions>
</appbar>