<header class="appbar">
  <ng-content select="[navicon]"></ng-content>
  <div style="width: 32px;"></div>
  <ng-content select="[title]"></ng-content>
  <div style="margin-left: auto;">
    <ng-content select="[actions]"></ng-content>
  </div>
</header>